<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PostCodeWebServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PostCodeWebServiceClient.Properties.Settings>
            <setting name="PostCodeWebServiceClient_PostCodeInfoService_PostCodeInfo"
                serializeAs="String">
                <value>http://localhost:7047/DynamicsNAV91/WS/CRONUS%20International%20Ltd./Codeunit/PostCodeInfo</value>
            </setting>
        </PostCodeWebServiceClient.Properties.Settings>
    </applicationSettings>
</configuration>